.App {
  text-align: left;
}
.header {
  height: 120px;
  box-sizing: border-box;     
}
.header-wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 45px 0;
  align-items: center;
}
.header-wrapper nav {
  width: 30%;
  display: flex;
  justify-content: space-between;
}
.header-wrapper .logo {
  font-weight: bold;
  font-size: 25px;
  line-height: 30px;
}
.header-wrapper a {
  transition: all .2s ease;
  
}
.header-wrapper a:hover {
  color: #004FEC;
}
.header-wrapper a.active {
  color: #004FEC;
}
.accent-text {
  color: #004FEC;
}
